* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #0D28A6;
    --color-primary2: #CFD4ED;
    --color-success: #5CB85F;
    --color-danger: #FA2C5A;
    --color-warning: #F9CC00;
    --color-bg2:#F1F3FF;
    --color-border: #D4D4D4;

    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

body {
    font-family: "Helvetica";
    line-height: 1.6;
    color: var(--color-black);
    background-color: var(--color-white);
}

section { 
    padding: 6rem 0;
}

section h2{
    font-weight: bold;
}

h1, h2, h3, h4, h5{
    line-height: 2rem;
}

h1 {
    font: 108px;
    line-height: 150%;
    font-weight: 800;
}

a {
    color: var(--color-black);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-success);
    color: var(--color-white);
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: var(--transition);
}

.btn:hover {
    /* background: transparent; */
    background: var(--color-white);
    color: var(--color-success);
    border: 1px solid var(--color-success);
}


/*  */

.container {
    width: var(--container-width-lg);
    margin: auto;
}

/* navbar */

nav {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 11;
    background: var(--color-bg2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__menu a {
    font-size: 0.875rem;
    font-weight: normal;
    transition: var(--transition);
}

.nav__menu a:hover{
    color: var(--color-success);
}

/* header */

header{
    position: relative;
    top: 4rem;
    padding-top: 1rem;
    overflow: hidden;
    height: 100%;
    margin-bottom: 5rem;
    background: var(--color-bg2);
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.header__left{
    margin-left: 15%;
}

.header__left p{
    margin: 1rem 0;
    max-width: 80%;
}

/* Profile */

.profile__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5.5rem;
}

.profile__right {
    max-width: 33rem;
}

.profile__desc{
    font-weight: 300;
    margin: 1.5rem 0 1rem;
}

.profile_list{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.uil-check {
    color: var(--color-primary);
    background: var(--color-primary2);
    padding: 0.2rem;
    border-radius: 1rem;
}

/* why us */

.whyus__container{
    display: grid;
}

.whyus__category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
}

.whyus__tittle{
    text-align: center;
}

.whyus__tittle p{
    margin: 1rem 0 2.5rem;
}

.category {
    padding: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    transition: var(--transition);
}

.category:hover {
    color: var(--color-white);
    background: var(--color-warning);
}

.category:nth-child(2):hover {
    color: var(--color-white);
    background: var(--color-danger);
}

.category:nth-child(3):hover {
    color: var(--color-white);
    background: var(--color-primary);
}

.category:nth-child(4):hover {
    color: var(--color-white);
    background: var(--color-success);
}

.category__icon {
    color: var(--color-white);
    background: var(--color-warning);
    padding: 0.4rem;
    border-radius: 1rem;
}

.category:nth-child(2) .category__icon{
    background: var(--color-danger);
}

.category:nth-child(3) .category__icon{
    background: var(--color-primary);
}

.category:nth-child(4) .category__icon{
    background: var(--color-success);
}

.category h3{
    margin: 1rem 0;
}

/* testimonial */

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonials__tittle {
    text-align: center;
}

.testimonials__tittle p{
    margin: 1rem 0 2.5rem;
}

.testimonial {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 0.5rem;
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}



/* Banner */

.banner__container {
    background: var(--color-primary);
    border-radius: 1rem;
    padding: 4rem 0 ;
    text-align: center;
    color: var(--color-white);
}

.banner__container p{
    margin: 1rem 0 3.25rem;
}

/* Faqs */

.faqs__container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.faqs__right {
    display: grid;
    gap: 1rem;
}

.faq {
    padding: 1.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: fit-content;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.5rem;
}

.faqs__left p {
    margin: 1rem 0;
}

.faq h4 {
    margin: 0.2rem 0;
}

.faq p {
    margin-top: 0.3rem;
    display: none;
}

.faq.open p {
    display: block;
    animation: animateFaqOpen 100ms linear forwards;
    transition: var(--transition);
}

@keyframes animateFaqOpen {
    0% {
        transform: translate(0rem, -1rem);
    }

    100% {
        transform: translate(0rem, 0rem);
    }
}

/* footer */


footer {
    padding: 5rem 0 2rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
}

.footer__1 p{
    margin-bottom: 1rem;
}

footer ul li{
    margin-bottom: 1rem;
}

.footer__2 ul li h4:hover{
    text-decoration: underline;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.socials__icon {
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 50%;
}

.logo {
    padding-top: 1rem;
    height: 3rem;
    width: 5rem;
}

/* navbar */

@media screen and (max-width: 600px) {

    body {
        margin: auto;
        width: var(--container-width-sm);
    }

    h1{
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }


    /* NAVBAR */


    nav button#open-menu-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-black);
        cursor: pointer;
    }
    
    nav button#close-menu-btn {
        display: none;
    }
    
    .nav__menu {
        background: var(--color-bg2);
        position: fixed;
        top: 4rem;
        right: 0%;
        height: 100%;
        width: 13rem;
        flex-direction: column;
        gap:0;
        margin-bottom: 10rem;
        display: none;
        box-shadow: 0rem 50rem 0rem 50rem rgba(0, 0, 0, 0.6);
        animation: animateNavItems 500ms linear forwards;
        transform-origin: top right;
        transition: var(--transition);
    }

    @keyframes animateNavItems {
        0% {
            transform: translate(15rem, 0rem);
        }

        100% {
            transform: translate(0rem, 0rem);
        }
    }
    
    .nav__menu li {
        width: 100%;
        padding: 1rem 1rem;
    }
    
    .nav__menu li a{
        width: 50%;
    }

    .nav__menu .btn {
    }


    /* Header */

    header{
        position: relative;
        top: 4rem;
        padding-top: 1rem;
        overflow: hidden;
        height: 70vr;
        margin-bottom: 5rem;
        background: var(--color-white);
    }
    
    .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 94%;
    }
    
    .header__left{
        margin-left: 5%;
    }
    
    .header__left p{
        max-width: 100%;
    }

    .header__right {
    }

    /* Profile */

    .profile__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.5rem;
    }
    
    .profile__right {
    }
    
    .profile__desc{
    }
    
    .profile_list{
    }
    
    .uil-check {
    }

    /* whyus */

    .whyus__container{
        display: grid;
    }
    
    .whyus__category {
        display: flex;
        flex-direction: column ;
        align-items: center;
        gap: 2rem;
    }
    
    .whyus__tittle p{
    }
    
    .category {
    }
    
    .category:hover {
    }
    
    .category:nth-child(2):hover {
    }
    
    .category:nth-child(3):hover {
    }
    
    .category:nth-child(4):hover {
    }
    
    .category__icon {
    }
    
    .category:nth-child(2) .category__icon{
    }
    
    .category:nth-child(3) .category__icon{
    }
    
    .category:nth-child(4) .category__icon{
    }
    
    .category h3{
    }

    /* testimonial */

    .testimonials__container {
        overflow-x: hidden;
        position: relative;
        margin-bottom: 5rem;
    }
    
    .testimonials__tittle {
        text-align: center;
    }
    
    .testimonials__tittle p{
        margin: 1rem 0 2.5rem;
    }
    
    .testimonial {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--color-bg2);
        padding: 2rem;
        border-radius: 0.5rem;
    }
    
    .avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
    }

    

    /* banner */

    .banner__container {
        background: var(--color-primary);
        border-radius: 1rem;
        padding: 4rem 3.6rem ;
        text-align: center;
        color: var(--color-white);
    }
    
    .banner__container p{
    }

    /* faqs */

    .faqs__container {
        display: flex;
        flex-direction: column;
    }
    
    .faqs__right {
        display: grid;
        gap: 1rem;
    }
    
    .faq {
    }
    
    .faq__icon {
    }

    .faqs__left {
        text-align: center;
    }
    
    .faqs__left p {
        margin: 1rem 0 2rem;
    }
    
    .faq h4 {
    }
    
    .faq p {
    }
    
    .faq.open p {
    }

    /* footer */

    footer {
        padding: 5rem 0 2rem;
    }
    
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    
    .footer__1 p{
        margin-bottom: 1rem;
    }
    
    footer ul li{
        margin-bottom: 1rem;
    }
    
    .footer__2 ul li h4:hover{
        text-decoration: underline;
    }
    
    .socials {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    .socials__icon {
        padding: 0.5rem;
        font-size: 1.5rem;
        color: var(--color-white);
        background: var(--color-primary);
        border-radius: 50%;
    }
    
    .logo {
        padding-top: 1rem;
        height: 3rem;
        width: 5rem;
    }

}

